@import "tailwindcss";

@theme {
  --color-primary: var(--color-blue-500);
  --color-whitesmoke: var(--color-zinc-50);
}

@layer base {
  div,
  header,
  footer,
  ul,
  section {
    @apply flex flex-col;
  }

  button,
  a {
    @apply cursor-pointer hover:opacity-80 active:opacity-50 transition text-zinc-800;
  }
}
@keyframes emergeFromTop {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@layer components {
  .h-fixed {
    animation: emergeFromTop 0.5s ease;
    @apply fixed top-0 left-0 backdrop-blur-xl opacity-90;
  }
}
